/* ////////////////////// variables //////////////////////// */

//
// Colors
//
$black: #26262b;
$purple-dark: #3b3b5e; //#3f3f5d;
$text: #4f5463;
$white: #fff;
$green: #32b643;
$yellow: #ffb700;
$red: #e85600;
$blue: #5395EF;
$blue-dark: #1f5eb7;

$primary: $blue;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);
// $secondary: #5982C1;
// $secondary-dark: darken($secondary, 10%);
// $secondary-light: lighten($secondary, 10%);

$link: $primary;
$link-hover: $blue-dark;

// Gray
$gray-light: #caccd1;
$gray: #9a99a5;
$gray-dark: #5F5E69;
$dark: #454d5d;

// Background
$bg-gray-light: #f1f1f3;
$bg-gray: #e0e0e5;
$bg-gray-darker: #c5c5cb;
$bg-gray-dark: #848890;



//
// Border
//
/// on light bg
$border-color: #e2e4e6; //#d1d3d7;
/// on dark bg
$border-color-ondark: rgba($border-color, 0.25);
$border-dark: darken($border-color, 10%);
$border: 1px solid $border-color;



//
// Font Family
//
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", sans-serif; 



//
// Font sizes
//
$fs-xxs: 1.0rem;
$fs-xs:  1.2rem;
$fs-sm:  1.4rem;
$fs-def: 1.6rem; //16px
$fs-md:  1.8rem;
$fs-lg:  2.2rem;
$fs-xl:  2.8rem;
$fs-xxl: 3.2rem;
// $fs-xxxl:4.0rem;



//
// Line Height
//
$lh-def: 1.6;



//
// Letter Spacing
//
$ls-sm: .03em;
$ls-def: .05em;
$ls-md: .08em;
$ls-lg: .1em;



//
//Breakpoints
//
$breakpoints: (
  'sm': 'screen and (min-width: 500px)',
  'md': 'screen and (min-width: 700px)',
  'lg': 'screen and (min-width: 900px)',
  'xl': 'screen and (min-width: 1200px)',
  'mx-sm': 'screen and (max-width: 499px)',
  'mx-md': 'screen and (max-width: 699px)', 
  'mx-lg': 'screen and (max-width: 899px)',
  'mx-xl': 'screen and (max-width: 1199px)',    
);



//
// Border Radius
//
$br-subtle: 2px;
$br-rounded: 4px;
$br-circle: 50%;



//
// Transition Speed
//
$speed-fast: .1s;
$speed-def: .25s; //default
$speed-slow: .4s;


//
// Spacing
//

$spacer-xs: 1.0rem;
$spacer-sm: 1.4rem;
$spacer-def: 1.6rem; //default 16px 
$spacer-md: 2.4rem;
$spacer-lg: 3.2rem;
$spacer-xl: 4.8rem;
$spacer-xxl: 6.4rem; //paragraph-block
$spacer-xxxl: 8rem;
$spacer-xxxxl: 9.6rem;

//
// Layout
//
$container-padding: 1.6rem;
$container-padding-md: 2.4rem;
$container-width: 1100px;
$text-width: 700px;
$header-height: 4em; //60px;
$footer-height: 14em;



//
// Z-Index
//
$z-mainnav: 1000;