@import "variables";
@import "mixins";
@import "normalize";
@import "base";
@import "utilities";
@import "layout";
@import "components";

// main {
//    min-height: 100vh;
// }

/* ////////////////////// Fade Effect /////////////////////////////// */
// https://alligator.io/js/simple-page-fade-in/
body {
  opacity: 1;
  transition: .8s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}


/* ////////////////////// Legacy Browsers //////////////////////// */

// IE 9 以下
.browserupgrade {

}

/* ////////////////////// Accessibility //////////////////////// */

// デフォルトフォーカルを削除
*:focus {
   outline: none;
}

// キーボード用
body.user-is-tabbing *:focus {
   outline: 2px solid $primary !important; // for non-webkit browsers
   outline: 5px auto -webkit-focus-ring-color !important;
}

.screenreader {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}


////////////// Link
/*
.link-leftline-wrapper {
   position: relative;
   text-align: right;
   display: block;
   cursor: pointer;
   max-width: $text-width;
   margin: 0 auto;
   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $border-color;
      z-index: -1;
      transition: $speed-def;
   }
   .link-leftline {
      display: inline-block;
      vertical-align: middle;
      background-color: $white;
      padding: 4px 0 4px 12px;
      z-index: 1;
      color: $link;
      transition: $speed-def;
   }
   &:hover {
      &::before {
         background-color: $link;
      }
      .link-leftline {
         color: $text;
      }
   }
}
*/

.link-btn {
   padding: $spacer-def $spacer-def * 2;
   border-radius: $br-rounded;
   border:1px solid $border-color;
   display: inline-block;
}

.link-color {
   color: $link;
   &:hover {
      color: $link-hover;
   }
   svg {
      fill: $link;
   }
}

.sns-links {
   display: inline-flex;
   align-items: center;
   a {
      display: block;
      padding: 2em;
      svg {
         width: 2em;
         fill: $gray;
         transition: $speed-def;
      }
      &:hover {
         svg {
            fill: $link;
         }
      }
   }
}