// Text Color
.txt-primary {
  color: $primary;
}

// .txt-secondary {
//   color: $secondary;
// }

.txt-gray {
  color: $gray;
}

.txt-gray-light {
  color: $gray-light;
}

.txt-gray-dark {
  color: $gray-dark;
}

.txt-green {
  color: $green;
}

.txt-yellow {
  color: $yellow;
}

.txt-red {
  color: $red;
}



// Background Color
.bg-white {
  background-color: $white;
}

.bg-gray {
  background-color: $bg-gray;
}