{{ define "main" }}
  <main class="main-top">
    <section class="container container-center container-padding section-top section-bottom">
        <h1 class="page-title font-special">{{ with .Site.GetPage "section" "articles" }}{{ .Title }}{{ end }}</h1>
        <ul class="article-list">
            {{ range .Pages }}
                {{ .Render "li" }}
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}
{{ define "footer" }}
        <li><a href="#">{{ partial "icon/icon-up.html" . }}上に戻る</a></li>
        <li><a href="/about/">{{ partial "icon/icon-about.html" . }}<span>当サイト・著者について</span></a></li>
{{ end }}